
<div class="jumbotron" style="text-align:center;">
  <h1>Welcome to my blog!</h1>
</div>

  <div class="container px-4">
    <div class="row gx-5">
      <% @posts.each do |post| %>
      <div class="col">
       <div class="p-3 border bg-light">
        <h3><%= post.title %></h3>
        <p><%= truncate(post.content, length: 20) %></p>
        <%= link_to 'Read more', post_path(post)%>   
      
       </div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">
          <h3><%= post.title %></h3>
          <p><%= truncate(post.content, length: 20) %></p>
          <%= link_to 'Read more', post_path(post)%>
        </div>
      </div>
      <%end%>
    </div>
  </div>